{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    <link href="{{ url_for('static', filename='css/book-list.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/list.js') }}" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <input id="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="container">
        <div class="h1 mt-3">
            <span>Mi Biblioteca</span>
        </div>
        <hr>
        <div class="d-flex-inline row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                {% for book in list_books %}
                    {% if book.user_id == g.user.id %}
                        <div class="d-flex shadow-sm w-100 border border-1 rounded-3 p-4 mt-3">
                            <div class="d-flex flex-grow-1">
                                <a class="text-decoration-none fs-4 text-black-50"
                                   href="{{ url_for('books.show', book_id=book.id) }}"><span
                                        class="align-self-center">{{ book.title }}</span></a>
                            </div>
                            <div class="d-flex flex-shrink-1">
                                <a class="btn btn-warning d-flex justify-content-center px-1 me-2"
                                   href="{{ url_for('books.update_template', book_id=book.id) }}"><i
                                        class="d-flex edit-icon h-75 w-75 align-self-center"></i></a>
                                <button class="btn btn-outline-danger d-flex justify-content-center px-2 me-2 trash-icon" data-id="{{ book.id }}">
                                    <i class="delete-icon h-75 w-75 align-self-center"></i></button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
